body {
    margin: 0;
    padding: 0;
    font-family: 'Anek Gujarati', sans-serif;
}
:root {
    --colorOne: rgb(190, 190, 190);
    --colorTwo: rgb(219, 219, 219);
    --colorThree: rgb(79, 72, 85);
    --colorFour: rgb(54, 54, 54);
}
/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colorOne);
    height: 6vh;
    padding: 0 1.5%;
}
header nav ul {
    display: flex;
    list-style: none;
}
header a {
    text-decoration: none;
    color: var(--colorTwo);
    transition: 0.2s;
}
header>div:last-child {
    display: flex;
}
.user {
    padding: 15px;
    margin: 2% 3.5px;
    background-color: var(--colorThree);
    border-radius: 12px 0;
    transition: 0.2s;
}
.user:hover {
    transition: 0.2s;
    background-color: var(--colorTwo);
    color: var(--colorThree);
}
/* endHeader */
/* Main */
main {
    display: flex;
    flex-direction: row;
    height: 94vh;
}
#main {
    width: 80%;
}
#sideBar {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--colorFour);
    position: relative;
}
#sideBar a {
    color: var(--colorTwo);
    text-decoration: none;
}
#sideBar #toggleSideBar {
    position: absolute;
    left: -22.5px;
    background-color: var(--colorFour);
    width: 22.5px;
    border-radius: 0 0 0 8px;
    padding: 1%;
}
#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--colorThree);
    margin: 2%;
    padding: 3%;
}
#menu a {
    padding: 4%;
    width: 90%;
    background-color: black;
    margin: 2% 0;
    border-radius: 12px 0;
    text-align: center;
    font-weight: bold;
    transition: 0.2s;
}
#menu a:hover {
    color: black;
    background-color: var(--colorTwo);
    transition: 0.2s;
}
#message {
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    margin: 2%;
}
#message>div:first-child {
    height: -webkit-fill-available;
    background-color: var(--colorTwo);
    overflow: auto;
}
#message form {
    margin-top: 2%;
}
#message form textarea {
    background-color: var(--colorTwo);
    width: 98%;
    max-width: 98%;
    min-width: 98%;
    min-height: 18px;
    max-height: 150px;
}
#message form:last-child>div {
    display: flex;
    justify-content: flex-end;
}
#message form button[type=submit] {
    border-radius: 12px 0;
    border: none;
    text-align: center;
    font-weight: bold;
    background-color: var(--colorTwo);
    padding: 4%;
}
#message form button[type=submit]:hover {
    color: var(--colorTwo);
    background-color: rgb(31, 110, 31);
}
/* endMain */