{% extends 'base.html.twig' %}

{% block title %}Hello MessageController!{% endblock %}

{% block body %}
    {% for session in sessions %}
    <div>
        <a href="{{ path('info_session',{'id': session.id}) }}">{{ session.name }}</a>
    </div>
    {% endfor %}
    <div> 
        <a href="{{ path('add_session') }}">Créer une Session de jeu de rôle</a>
    </div>
{% endblock %}
