{% extends 'base.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}
    <div id="main">

    </div>
    <div id="sideBar">
        <div id="menu">
            <a href="">Equipe</a>
            <a href="">Carte</a>
            <a href="">Caractéristique</a>
            <a href="">Inventaire</a>
            <a href="">Action</a>
        </div>
        <div id="message">
            <div>

            </div>
            {{ form_start(formAddMessage) }}
            {{ form_end(formAddMessage) }}
        </div>
    </div>
{% endblock %}
