{% extends 'base.html.twig' %}

{% block title %}Hello MessageController!{% endblock %}

{% block body %}
    {% for message in messages %}
    <div title="{{ message.creationDate | date("\\l\\e m/d/Y à h\\hm s\\s") }}">
        <div class="user">
            {{ message.author.id }}
        </div>
        {{ message.content }} 
    </div>
    {% endfor %}
{% endblock %}
